*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
lib/rbnacl_ext.bundle
lib/rbnacl_ext.so
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
ext/cnacl/cbuild
